<div id="back-to-games-bar">
  <div id="back-to-games" class="small-2 columns bar-title">
    <h3 class="bar-title"><i class="fi-arrow-left"></i> <%= link_to "Darts Games", root_path %>
    </h3>
  </div>
  <div id="game-name" class="small-8 columns">
    <h1 class="bar-title">
      <%= @game.name %>
    </h1>
  </div>
</div>
<div id="players-container">
  <fieldset id="newplayer-container" class="row collapse">
  <legend>Add Players or Points</legend>
    <%= form_for([@game, @player], remote: true) do |f| %>
      <div id="text-field-container" class="small-10 columns">
        <%= f.text_field :name, placeholder: "First and last names, score" %>
      </div>
      <div id="botton-container" class="small-2 columns">
        <%= f.submit "New", id: "new-player-button", class: "button" %>
      </div>
    <% end %>
  </fieldset>
  <div id="players-scores-table">
    <ul>
      <li class="row table-row">
        <h6 class="table-columns small-2 column ranking">Ranking</h6>
        <h6 class="table-columns small-7 columns name">Name</h6>
        <h6 class="table-columns small-2 columns points">Points</h6>
        <h6 class="table-columns small-1 columns delete"></h6>
      </li>
      <% if @players %>
        <% current_points = 0; rank = 1 %>
        <% @players.each do |player| %>
          <% current_points > player.points ? rank += 1 : rank %>
          <li class="row table-row">
            <h6 id="ranking" class="table-columns small-2 column ranking"><%= rank %></h6>
            <h6 id="name" class="table-columns small-7 columns name"><%= player.name%></h6>
            <h6 id="points" class="table-columns small-2 columns points-numbers"><%= player.points %></h6>
            <h6 class="table-columns small-1 columns delete"><%= link_to "", game_player_path(@game, player), class: "fi-trash", remote: true, method: :delete %></h6>
            <% current_points = player.points %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
